body {
    /* Fonts */
    font-size: 14px;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  th, td {
    padding: 20px;
    text-align: left;
    vertical-align: top;
  }
  
  #header {
    background-color: #92c7cf;
    color: white;
  }
  
  #header h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  #navigation {
    background-color: #aad7d9;
    color: white;
  }
  
  #navigation span {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
  }
  
  #navigation a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  #navigation a:hover {
    background-color: #575757;
  }
  
  #content {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    background-color: #e5e1da;
    border: 1px solid #fbf9f1;
    padding: 20px;
    margin: 10px;
    flex: 1;
  }
  
  #footer {
    background-color: #92c7cf;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  #footer a {
    color: white;

    text-decoration: none;
    align: center;

    margin: 0 10px;
  }
  
  #footer a:hover {
    text-decoration: underline;
  }
  
  .fab {
    font-size: 24px;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
